<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% if notice %>
        <div class="alert alert-warning" role="alert">
          <%= notice %>
          <a href="javascript:void(0)" class="close">&times;</a>
        </div>
      <% end if %>

      <!-- Content here -->
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
